/*
   Theme Name: Comunidad Rumbera
   Theme URI: http://www.zains.com.ve
   Version: 0.1
   Description: Theme child magzimus for ComunidadRumbera.net
   Author: Francisco Ch. @zzainss
   Author URI: http://www.zains.com.ve
   Template: magzimus
*/
@import url("../magzimus/style.css");

#categories_menu ul li, #categories_menu ul li a, .categories-toggle{
	background: none !important;
}
#categories_menu{
	padding: 10px 0;
	background-color: #0CC  !important;

}
#categories_menu ul li a{
	padding: 10px;
}